.cabecalho-moda
{
    background-color:#BB86FC;
}

.cabecalho-casa
{
    background-color:#00C4B4;
}

.fundo-tabela
{
    background-color:#424250;
}

.fonte
{
    color: #ffffff;
    font-size: 30px;
    padding: 10px;
}
